{% extends 'base.html.twig'%}

{% block title %}Login{% endblock %}

{% block body %}


<div class="centrado">
  {{ form_start(LoginForm) }}
    <div class="campo-formulario">
    

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
      <p class="titulo-medio">Identificate</p>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="campo-formulario">
      {{ form_label(LoginForm.email)}}
      {{ form_widget(LoginForm.email, {'attr':{'value': last_username }}) }}
      {{ form_label(LoginForm.password)}}
      {{ form_widget(LoginForm.password) }}
    </div>
    <div style="display: flex; ">
      <input type="checkbox" id="remember_me" name="_remember_me"/>
      <label for="checkbox"> Recuerdame</label>
    </div>
      {{ form_errors(LoginForm) }}
    <div class="campo-formulario">
      <button>ENVIAR</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
  {{ form_end(LoginForm) }} 
</div>

{% endblock %}