{% extends "base.html.twig"%}


{% block title %}Opiniones{% endblock %}
{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Autor</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Comentario</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for opinion in opiniones %}
    <tr id="{{opinion.id}}">
    
      <th scope="row">{{opinion.id}}</th>
      <td>{{opinion.autor}}</td>
      <td>{{opinion.ciudad}}</td>
      <td>{{opinion.comentario}}</td>
      <td><a href="/maleteo/opiniones/{{opinion.id}}/editar" id="{{opinion.id}}"><i style="cursor: pointer; color:#343A40;" class="far fa-edit fa-1x BotonEditar"></i></a></td>
      <td><i id="{{opinion.id}}" style="cursor: pointer; color:#343A40;" class="fas fa-trash-alt fa-1x BotonBorrar"></td>      
    </tr>
  {% endfor %}
  
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
{{parent('base.html.twig')}}
<script src="{{asset("/js/borrarOpinion.js")}}"></script>
{% endblock %}