{% extends 'login.html.twig'%}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="centrado">
  {{ form_start(RegistroForm) }}
    <div class="campo-formulario">
      <p class="titulo-medio">Registrate</p>
    </div>
    <div class="campo-formulario">
      
      {{ form_label(RegistroForm.nombre)}}
      {{ form_widget(RegistroForm.nombre)}}
      {{ form_label(RegistroForm.apellidos)}}
      {{ form_widget(RegistroForm.apellidos)}}
      {{ form_label(RegistroForm.email)}}
      {{ form_widget(RegistroForm.email)}}
      {{ form_label(RegistroForm.password)}}
      {{ form_widget(RegistroForm.password)}}
      {{ form_label(RegistroForm.ciudad)}}
      {{ form_widget(RegistroForm.ciudad)}}
    </div>
      <div style="display: flex; ">
        {{form_label(RegistroForm.politica)}}
        {{ form_widget(RegistroForm.politica) }}
        <a style="text-decoration:underline; color:#f9a519; padding-left:5px;" href="#"> politica de privacidad</a>
      </div>
      {{ form_errors(RegistroForm) }}
    <div class="campo-formulario">
      <button>ENVIAR</button>
    </div>
  {{ form_end(RegistroForm) }} 
</div>
{% endblock %}