{% extends 'base.html.twig' %}

{% block title %}Solicitudes{% endblock %}

{% block body %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Ciudad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for usuario in usuarios %}
    <tr>
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.ciudad}}</td>
      <td><a href="{{path("borrarSolicitud", {id:usuario.id})}}" style="color:black;"><i class="fas fa-trash-alt fa-1x"></i></a></td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>

{% endblock %}
