{% extends 'base.html.twig' %}

{% block title %}Solicitudes{% endblock %}

{% block body %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Ciudad</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for usuario in usuarios %}
    <tr id="{{usuario.id}}">
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.ciudad}}</td>
      <td><i style="cursor: pointer; color:#343A40;" class="far fa-edit fa-1x BE"></i></td>
      <td><i id="{{usuario.id}}" style="cursor: pointer; color:#343A40;" class="fas fa-trash-alt fa-1x BB"></i></td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>

{% endblock %}
{% block javascripts %}
<script src="{{asset("/js/borrarSolicitud.js")}}"></script>
{% endblock %}
